[submodule "src/vendor/glm"]
	path = src/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "src/vendor/tinyobjloader"]
	path = src/vendor/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "src/vendor/cpptqdm"]
	path = src/vendor/cpptqdm
	url = https://github.com/aminnj/cpptqdm.git
